img, button {
    display: inline-block;
    max-width: 100%;
}
:root {
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGrey: hsl(0, 0%, 98%);
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    position: relative;
    z-index: auto;
}
h1, h2 {
    font-family: "DM Serif Display";
    font-weight: 400;
}

/* Header styling */
ul {
    list-style: none;
}
a,
a:link,
a:visited,
a:focus,
a:hover {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--VeryLightGrey);
}
.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 2rem;
    z-index: 100;
    cursor: pointer;
    display: none;
}


/* Main section styling */
main {
    display: grid;
    grid-template-columns: 1fr;
}