*, *::before, *::after {
    box-sizing: border-box;
}
img, button {
    display: inline-block;
    max-width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGrey: hsl(0, 0%, 98%);
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    position: relative;
    z-index: auto; /* position 1 */
}
h1, h2, h3, span {
    font-family: "DM Serif Display";
    font-weight: 400;
}

/* Header styling */
ul {
    list-style: none;
}
a,
a:link,
a:visited,
a:focus,
a:hover {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* position 2 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--VeryLightGrey);
}
.open-menu {
    /*
    position: relative;
    right: 25px;
    */
    position: relative;
    z-index: 1000;       /* position 4 */
}
.nav-links {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--VeryDarkViolet);
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 2rem;
    z-index: 100;       /* position 3*/
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
}
.nav-links a {
    color: var(--DarkGrayishViolet);
    text-transform: uppercase;
}
.nav-links.mobile a {
    color: var(--VeryLightGrey);
}
.view-plans {
    border: 2px solid var(--VeryLightGrey);
    padding: 0.5rem 3rem;
}


/* Main section styling */
.main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero-section {
    background-color: var(--DarkViolet);
    padding: 3rem 1rem;
    position: relative;
}
.hero-subsection {
    padding: 4rem 1rem;
    position: relative;
}

@media (max-width: 47.5rem){
    .hero-picture {
        display: block;
        margin: 0 auto;
    }
    .intro-left {
        position: absolute;
        left: 0px;
        top: 0;
    }
    .intro-right {
        position: absolute;
        right: 0;
        bottom: -170px;
    }
    .end-icon {
        position: absolute;
        right: 30px;
    }
}

/* Text styling */
h1, h2, h3, p {
    text-align: center;
}
span {
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
.span-p {
    color: var(--GrayishBlue);
}
h1 {
    font-size: 2.8rem;
    color: var(--VeryLightGrey);
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.2rem;
    color: var(--VeryLightGrey);
}
.hero-paragraph {
    color: var(--VeryLightGrey);
    opacity: 0.7;
}
footer > div > p {
    text-transform: uppercase;
    color: var(--DarkViolet);
}

/* Button styling */
.button-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background-color: var(--DarkViolet);
    color: var(--VeryLightGrey);
    opacity: 0.7;
    border: 2px solid var(--VeryLightGrey);
    text-transform: uppercase;
}


/* heroSubsection styling */
.some-icon {
    display: block;
    text-align: center;
}
.snappy, .affordable, .people {
    padding: 2rem 0;
}


/* endSection styling */
.end-section {
    padding: 2rem;
    position: relative;
}
.sub-part {
    background-color: var(--DarkViolet);
    padding: 2rem;
}


/* footer styling */
footer {
    /*
    display: grid;
    grid-template-columns: 1fr;
    */
    display: flex;
    flex-direction: column;
    padding: 3rem;
    position: relative;
    background-color: var(--VeryLightGrey);
}
.footer-image {
    position: absolute;
    top: 0;
    left: -20px;
}
.logo-container, .icon-container {
    text-align: center;
}
.logo-container {
    padding: 1rem;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.first-container, .second-container, .third-container, .fourth-container {
    padding: 1.5rem;
}
.head-footer {
    padding: 1rem;
    color: var(--GrayishBlue);
}


/* Desktop view */
@media (min-width: 900px) {
    header {
        padding: 1rem 6rem;
    }
    .open-menu {
        display: none;
    }
    .nav-links {
        all: unset;
        display: flex;
        list-style: none;
        gap: 2rem;
    }
    .view-plans {
        all: unset;
    }

    /* Hero styling */
    .hero-picture {
       position: absolute;
       z-index: 2;
       left: 600px;
       top: 100px;
    }
    .head-line {
        width: 10%;
        border-top: 1px solid var(--GrayishBlue);
        padding: 1.5rem;
    }
    .hero-section {
        position: relative;
        z-index: 1; 
        padding: 10rem 6rem 6rem 6rem;  /* previously 8rem 6rem*/
    }
    .intro-left, .intro-right {
        position: absolute;
    }
    .intro-left {
        z-index: 2;
        bottom: -300px;
        left: 0;
    }
    .intro-right {
        z-index: 4;
        right: 0;
        top: 0;
    }
    .button-container {
        all: unset;
        display: flex;
        justify-content: flex-start;
        padding: 2rem 0;
    }

    /* text styling which would be adjusted later with clamps */
    h1, .hero-paragraph, h3{
        text-align: left;
    }
    h1 {
        font-size: 4rem;
        max-width: 600px;
        line-height: 1;
    }
    h2 {
        font-size: 3.8rem;
    }
    h3 {
        font-size: 3.2rem;
        max-width: 500px;
        line-height: 1;
    }
    .hero-paragraph {
        max-width: 500px;
    }

    /* hero subsection */
    .hero-subsection {
        position: relative;
        padding: 15rem 6rem 6rem 6rem;
    }
    .hero-subsection > h2, .span-p, span, .some-icon {
        text-align: left;
    }
    .inner-section {
        display: flex;
        gap: 2rem;
    }

    /* end section */
    .end-section {
        padding: 6rem;
    }
    .sub-part {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding: 4.7rem;
    }
    .end-icon {
        position: absolute;
        z-index: 2;
        right: 100px;
    }


    /* footer styling */
    .flex-logo {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 3rem;
    }
    .flex-notes {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 2rem;
    }
    .icon-container {
        all: unset;
    }
    .footer-line {
        width: 90%;
        border-top: 1px solid var(--GrayishBlue);
        margin: 0 4rem;
    }
}